# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/

# Logs / Data
data/*.log
data/*.pdf

# OS / IDE files
.DS_Store
Thumbs.db
.idea/
.vscode/

# Temporary / test files
*.tmp
*.bak
